* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
    color: white;
    font-size: 1.1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
    opacity: 0.8;
}

span {
    font-weight: bold;
}

canvas {
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

input,
button {
    padding: 5px 10px;
    font-size: 1.1rem;
}

input {
    width: 500px;
    max-width: 100%;
}

button {
    /* display: none; */
}

div.func {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
